@using eBookStore.Services.ViewModels.PublisherModels;
@model PublisherViewModel
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-controller="Publisher" asp-action="Delete">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Create Publisher</h1>
        <hr />
        <div class="row">
             <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Id" type="hidden" value="@Model.Id" />
                <input class="form-control" asp-for="Name" value="@Model.Name" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">City</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="City" value="@Model.City" readonly/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">State</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="State" value="@Model.State" readonly/>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Country</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Country" value="@Model.Country" readonly/>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            
             
            <div class="col-5 offset-2">
                <a class="btn-primary btn form-control" asp-controller="Publisher" asp-action="Index">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>