@using eBookStore.Services.ViewModels.UserViewModels;

@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Users List</h1>
			</div>
			
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
				<a class="btn btn-primary" asp-controller="User" asp-action="Create">Create New User</a>
			</div>
			<div class="col-6">
				<form method="post" asp-controller="User" asp-action="Search">
					<input type="text" name="Search"/>
					<input type="submit" value="Search"/>
				</form>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
                        Id
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Source
                    </th>
                     <th>
                        Role
                    </th>
                     <th>
                    
                    </th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.Id
						</td>
						<td>
							@item.Email
						</td>
						<td>
							@item.FirstName @item.MiddleName @item.LastName
						</td>
						<td>
							@item.Source
						</td>
					
						<td>
                            @item.Role.RoleName
                            </td>
						<td>
							<a class="btn btn-success" asp-controller="User" asp-action="Details" asp-route-id="@item.Id">
								Details
							</a>
							
							<a class="btn btn-danger" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">
								Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>